@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition-all($second) {
  -webkit-transition: all $second;
  -moz-transition: all $second;
  -o-transition: all $second;
  -ms-transition: all $second;
  -transition: all $second;
}
