// OVERRIDE
$black:  #000 !default;

// COLOR
$navbar-dark-active-color: #ff432e;
$body-bg: $black;
$active-color: #ff432e;
$dark-little-color:  #8f8f8f;
$dark-very-color:  #8f8f8f;
$light-little-color:  #999999;
$light-very-color: #cbcbcb;

// FONT
$font-family-sans-serif: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
$special-font: 'Satisfy', cursive;
