$green:   #000000 !default;
$black:  #000 !default;

$navbar-dark-active-color: #ff432e;
$body-bg: $black;
$active-color: #ff432e;

$font-family-sans-serif: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
