<header>
  <div class="container">
    <div class="row flex-row-reverse">
      <div class="intro-text">
        <div class="intro-lead-in">Hello, my name is</div>
        <div class="intro-heading">Peter Tran</div>
        <p>I am a senior Full Stack Developer &amp; I have 6 years of rich experience.</p>
        <a href="#" class="btn btn-md translate-x-hover">WANT TO HIRE ME</a>
      </div>
    </div>
  </div>
</header>

<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading wow lightSpeedIn animated animated"
            style="visibility: visible; animation-name: lightSpeedIn;">About Me</h2>
        <hr class="hr">
        <hr class="hr2">
      </div>

      <div class="col-sm-7">
        <h3 class="sub wow flipInX animated animated" style="visibility: visible; animation-name: flipInX;">Hello
          World!</h3>
        <p>Hello I’m Peter Handcomb. Working as a Senior Project manager in Denzcreative solution. I love to handle
          challenging &amp; creative works. Well-kowlege and Experience in programming languages including Ajax,
          SQL,MySQL, C, and Java, Java related Languages. and I have 5 years experience in Project Lead.</p>
        <ul class="social-network">
          <li><a href="#" class="icos" title="Facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#" class="icos" title="Twitter"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#" class="icos" title="Google +"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#" class="icos" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
        </ul>
        <h3 class="sign">Peter Tran</h3>
      </div>
      <div class="col-sm-5">
        <h3 class="progress-title wow flipInX animated animated" style="visibility: visible; animation-name: flipInX;">
          Design</h3>
        <div class="progress yellow">
          <div class="progress-bar" style="width:90%;">
            <div class="progress-value">90%</div>
          </div>
        </div>

        <h3 class="progress-title wow flipInX animated animated" style="visibility: visible; animation-name: flipInX;">
          Html &amp; Css</h3>
        <div class="progress yellow">
          <div class="progress-bar" style="width:75%;">
            <div class="progress-value">75%</div>
          </div>
        </div>
        <h3 class="progress-title wow flipInX animated animated" style="visibility: visible; animation-name: flipInX;">
          Coding</h3>
        <div class="progress yellow">
          <div class="progress-bar" style="width:90%;">
            <div class="progress-value">90%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Knowledge Section -->
<section id="knowledge" class="knowledge">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 right-contain">
        <h2 class="section-heading wow lightSpeedIn animated animated"
            style="visibility: visible; animation-name: lightSpeedIn;">Knowledge</h2>
        <hr class="hr">
        <hr class="hr2">
        <div class="row inner-row">
          <div class="col-sm-1">
            <img src="../../../assets/images/01/web.png" class="sec-ico" alt="Icon-1">
          </div>
          <div class="col-sm-11">
            <h4 class="wow flipInX animated animated" style="visibility: visible; animation-name: flipInX;">Web
              Development</h4>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority creative tool
              skills.</p>
          </div>
          <div class="col-sm-1">
            <img src="../../../assets/images/01/app.png" class="sec-ico" alt="Icon-1">
          </div>
          <div class="col-sm-11">
            <h4 class="wow flipInX animated animated" style="visibility: visible; animation-name: flipInX;">App
              Development</h4>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority creative tool
              skills.</p>
          </div>
          <div class="col-sm-1">
            <img src="../../../assets/images/01/seo.png" class="sec-ico" alt="Icon-1">
          </div>
          <div class="col-sm-11">
            <h4 class="wow flipInX animated animated" style="visibility: visible; animation-name: flipInX;">SEO
              Marketing</h4>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority creative tool
              skills.</p>
          </div>
          <div class="col-sm-1">
            <img src="../../../assets/images/01/design.png" class="sec-ico" alt="Icon-1">
          </div>
          <div class="col-sm-11">
            <h4 class="wow flipInX animated animated" style="visibility: visible; animation-name: flipInX;">UI / UX
              Design</h4>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority creative tool
              skills.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Skills Section -->
<section id="skills" class="skills">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="" id="loginModal">
          <div class="modal-body">
            <div class="well">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#edu" data-toggle="tab"><h2
                  class="section-heading wow flipInX animated animated"
                  style="visibility: visible; animation-name: flipInX;">Education</h2>
                  <hr class="hr">
                  <hr class="hr2">
                </a></li>
                <li><a href="#exp" data-toggle="tab">
                  <h2 class="section-heading wow flipInX animated animated"
                      style="visibility: visible; animation-name: flipInX;">
                    Experience
                  </h2>
                  <hr class="hr">
                  <hr class="hr2">
                </a></li>
              </ul>
              <div id="myTabContent" class="tab-content">
                <div class="tab-pane active in" id="edu">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="box wow lightSpeedIn animated animated"
                           style="visibility: visible; animation-name: lightSpeedIn;"><p>2004-2006</p></div>
                      <h4 class="wow flipInX animated animated" style="visibility: visible; animation-name: flipInX;">
                        10+2 Schooling</h4>
                      <h5>Master mynds school-US</h5>
                      <p>There are many variations of passages of Lorem and demoralized by Ipsum available, but the
                        majority creative tool skills</p>
                    </div>
                    <div class="col-sm-4">
                      <div class="box wow lightSpeedIn animated animated"
                           style="visibility: visible; animation-name: lightSpeedIn;"><p>2006-2008</p></div>
                      <h4 class="wow flipInX animated animated" style="visibility: visible; animation-name: flipInX;">
                        Higher Educations</h4>
                      <h5>Brilliants college-US</h5>
                      <p>There are many variations of passages of Lorem and demoralized by Ipsum available, but the
                        majority creative tool skills</p>
                    </div>
                    <div class="col-sm-4">
                      <div class="box wow lightSpeedIn animated animated"
                           style="visibility: visible; animation-name: lightSpeedIn;"><p>2008-2010</p></div>
                      <h4 class="wow flipInX animated animated" style="visibility: visible; animation-name: flipInX;">
                        Masters</h4>
                      <h5>Oleo Arts - US</h5>
                      <p>There are many variations of passages of Lorem and demoralized by Ipsum available, but the
                        majority creative tool skills</p>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="exp">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="box wow lightSpeedIn animated animated"
                           style="visibility: visible; animation-name: lightSpeedIn;"><p>2010-2012</p></div>
                      <h4 class="wow flipInX animated animated" style="visibility: visible; animation-name: flipInX;">
                        Jr. Web Developer</h4>
                      <h5>Master mynds Solutions</h5>
                      <p>There are many variations of passages of Lorem and demoralized by Ipsum available, but the
                        majority creative tool skills</p>
                    </div>
                    <div class="col-sm-4">
                      <div class="box wow lightSpeedIn animated animated"
                           style="visibility: visible; animation-name: lightSpeedIn;"><p>20012-2015</p></div>
                      <h4 class="wow flipInX animated animated" style="visibility: visible; animation-name: flipInX;">
                        Sr. Web Developer</h4>
                      <h5>Master mynds Solutions</h5>
                      <p>There are many variations of passages of Lorem and demoralized by Ipsum available, but the
                        majority creative tool skills</p>
                    </div>
                    <div class="col-sm-4">
                      <div class="box wow lightSpeedIn animated animated"
                           style="visibility: visible; animation-name: lightSpeedIn;"><p>2015-2017</p></div>
                      <h4 class="wow flipInX animated animated" style="visibility: visible; animation-name: flipInX;">
                        Project Maneger</h4>
                      <h5>Master mynds Solutions</h5>
                      <p>There are many variations of passages of Lorem and demoralized by Ipsum available, but the
                        majority creative tool skills</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Work Section -->
<section id="works" class="work">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading wow lightSpeedIn animated animated"
            style="visibility: visible; animation-name: lightSpeedIn;">Recent Works</h2>
        <hr class="hr">
        <hr class="hr2">
      </div>
      <div class="col-sm-12">
        <div class="masonry masonry-columns-3">
          <div class="masonry-item">
            <div class="media">
              <a href="#portfolioModal1" class="list-quotes" data-toggle="modal">
                <img src="../../../assets/images/01/work1.jpg" class="img-responsive center-block" alt="">
                <div class="quotes">
                  <p>Work - 1</p>
                </div>
              </a>
            </div>
          </div>
          <div class="masonry-item">
            <div class="media">
              <a href="#portfolioModal2" class="list-quotes" data-toggle="modal">
                <img src="../../../assets/images/01/work2.jpg" class="img-responsive center-block" alt="">
                <div class="quotes">
                  <p>Work - 2</p>
                </div>
              </a>
            </div>
          </div>
          <div class="masonry-item">
            <div class="media">
              <a href="#portfolioModal3" class="list-quotes" data-toggle="modal">
                <img src="../../../assets/images/01/work3.jpg" class="img-responsive center-block" alt="">
                <div class="quotes">
                  <p>Work - 3</p>
                </div>
              </a>
            </div>
          </div>
          <div class="masonry-item">
            <div class="media">
              <a href="#portfolioModal4" class="list-quotes" data-toggle="modal">
                <img src="../../../assets/images/01/work4.jpg" class="img-responsive center-block" alt="">
                <div class="quotes">
                  <p>Work - 4</p>
                </div>
              </a>
            </div>
          </div>
          <div class="masonry-item">
            <div class="media">
              <a href="#portfolioModal5" class="list-quotes" data-toggle="modal">
                <img src="../../../assets/images/01/work5.jpg" class="img-responsive center-block" alt="">
                <div class="quotes">
                  <p>Work - 5</p>
                </div>
              </a>
            </div>
          </div>
          <div class="masonry-item">
            <div class="media">
              <a href="#portfolioModal6" class="list-quotes" data-toggle="modal">
                <img src="../../../assets/images/01/work6.jpg" class="img-responsive center-block" alt="">
                <div class="quotes">
                  <p>Work - 6</p>
                </div>
              </a>
            </div>
          </div>
          <div class="masonry-item">
            <div class="media">
              <a href="#portfolioModal7" class="list-quotes" data-toggle="modal">
                <img src="../../../assets/images/01/work7.jpg" class="img-responsive center-block" alt="">
                <div class="quotes">
                  <p>Work - 7</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Contact Section -->
<section id="contact" class="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading wow lightSpeedIn animated animated"
            style="visibility: visible; animation-name: lightSpeedIn;">Get in touch</h2>
        <hr class="hr">
        <hr class="hr2">
      </div>
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-2"><img src="../../../assets/images/01/address.png" class="ico-con" alt=""></div>
          <div class="col-sm-10 wow flipInX animated animated" style="visibility: visible; animation-name: flipInX;">
            <h6>Address</h6>
            <p>228 D, Danseal street, Canada</p></div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-2"><img src="../../../assets/images/01/contact.png" class="ico-con" alt=""></div>
          <div class="col-sm-10 wow flipInX animated animated" style="visibility: visible; animation-name: flipInX;">
            <h6>Contact</h6>
            <p>+88 669 658 6586, +99 123 456 7890</p></div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-2"><img src="i../../../assets/images/01/mail.png" class="ico-con" alt=""></div>
          <div class="col-sm-10 wow flipInX animated animated" style="visibility: visible; animation-name: flipInX;">
            <h6>Email</h6>
            <p>peterwebsupport@gmail.com</p></div>
        </div>
      </div>
    </div>
    <div class="row mtop">
      <div class="col-lg-12">
        <form name="sentMessage" id="contactForm" novalidate="">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Full Name" id="name" required=""
                       data-validation-required-message="Please enter your name.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email Address" id="email" required=""
                       data-validation-required-message="Please enter your email address.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input type="tel" class="form-control" placeholder="Phone No." id="phone" required=""
                       data-validation-required-message="Please enter your phone number.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <textarea class="form-control" placeholder="Your Message *" id="message" required=""
                          data-validation-required-message="Please enter a message."></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12 text-center">
              <div id="success"></div>
              <button type="submit" class="btn btn-xl">Send Message</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <span class="copyright wow flipInX animated animated" style="visibility: visible; animation-name: flipInX;">Copyright © 2017 Peter Tran</span>
  </div>
</footer>
